<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PFM:Admin</title>
</head>
<body>
<h1>Admin Page</h1>
<a href="/myapp/Admin_expert_views_get/">View Expert</a><br>
<a href="/myapp/Admin_view_approved_expert_get/">Approved experts</a><br>
<a href="/myapp/Admin_view_rejected_expert_get">Rejected experts</a><br>
{#<a href="/myapp/add_user_get/">Add User</a><br>#}
<a href="/myapp/AdminUserViews_get/">View User</a><br>

<a href="/myapp/AdminViewsComplain_get/">View Complaint</a><br>

<a href="/myapp/ChangePassword_get/">Change Password</a><br>

</body>
</html>